// longstring.rc: stringhe che possono eccedere i 256 byte

#define RCLONGSTRING 301
// stringhe potenzialmente pi— lunghe di 256 byte
RESOURCE RCLONGSTRING  IDHLP_REGML
   BEGIN
      SZHLP_REGML
   END

RESOURCE RCLONGSTRING  IDHLP_REGCSTMRDATA
   BEGIN
      SZHLP_REGCSTMRDATA
   END

RESOURCE RCLONGSTRING  IDHLP_REGCSTMRCODE
   BEGIN
      SZHLP_REGCSTMRCODE
   END

RESOURCE RCLONGSTRING  IDHLP_REGREGCODE
   BEGIN
      SZHLP_REGREGCODE
   END

RESOURCE RCLONGSTRING  IDHLP_REGBTNCOPY
   BEGIN
      SZHLP_REGBTNCOPY
   END

RESOURCE RCLONGSTRING  IDMSG_REGEDCSTDATA0
   BEGIN
      SZMSG_REGEDCSTDATA0
   END

RESOURCE RCLONGSTRING  IDMSG_REGEDCSTDATA1
   BEGIN
      SZMSG_REGEDCSTDATA1
   END

RESOURCE RCLONGSTRING  IDMSG_REGCSTMRCODESVD
   BEGIN
      SZMSG_REGCSTMRCODESVD
   END

RESOURCE RCLONGSTRING  IDMSG_REGNEWCSTCODE0
   BEGIN
      SZMSG_REGNEWCSTCODE0
   END

RESOURCE RCLONGSTRING  IDMSG_REGNEWCSTCODE1
   BEGIN
      SZMSG_REGNEWCSTCODE1
   END

RESOURCE RCLONGSTRING  IDMSG_REGNEWREGCODE
   BEGIN
      SZMSG_REGNEWREGCODE
   END

