// strings.rc : stringhe usate nel blocco preferenze di smartwindows


STRINGTABLE

BEGIN
   // bottoni toolbar
   BTN_ISONOFF       SZHLP_BTNONOFF
   BTN_APPLY         SZHLP_BTNAPPLY
   BTN_UNDO          SZHLP_BTNUNDO
   BTN_DEFAULT       SZHLP_BTNDEF
   BTN_HELP          SZHLP_BTNHLP
   STBR_MAIN         SZHLP_STATUSBAR
   // bottoni dialogo selezione bitmap
   LBOX_BMPSEL       SZHLP_LBOX_BMPSEL
   BTN_EDITBMP       SZHLP_EDITBMP
   BTN_FINDBMP       SZHLP_FINDBMP
   CHK_BMPDISABLE    SZHLP_BMPDISABLE
   CHK_BMPDEFAULT    SZHLP_DEFAULT
   COMBO_CLOSEPOS    SZHLP_CLOSEPOS
   BTN_BMPOK         SZHLP_BMPOK
   BTN_BMPCANCEL     SZHLP_BMPCANCEL
   BTN_BMPHELP       SZHLP_BTNHLP
   // dialogo eccezioni
   LBOX_EXCEPTION    SZHLP_LBOX_EXCEPTION
   EF_LISTITEM       SZHLP_EF_LISTITEM
   BTN_EXCEPTFIND    SZHLP_FIND
   BTN_EXCEPTCADD    SZHLP_ADD
   BTN_EXCECPTREM    SZHLP_REMOVE
   // bottoni Smart Windows - General
   CHK_SMWGAPPL      SZHLP_APPLONEXIT
   CHK_SMWGSAVE      SZHLP_SAVONEXIT 
   CHK_SMWGLASTPAGE  SZHLP_LASTVIEWED
   BTN_SMWGAPPLYALL  SZHLP_APPLYALL 
   BTN_SMWGUNDOALL   SZHLP_UNDOALL
   BTN_SMWGDEFALL    SZHLP_DEFALL 
   // dialogo "Finestre"
   CHK_MWUSESMWFONT  SZHLP_MWUSESMWFONT
   CHK_MWOVERRDPPS   SZHLP_MWOVERRDPPS
   //CHK_MWIGNOREPP    SZHLP_MWIGNOREPP
   //CHK_MWDLGONLY     SZHLP_MWDLGONLY
   BTN_MWFONT        SZHLP_MWFONT
   // bottoni impostazioni barra titolo
   CHK_ENTBARENH     SZHLP_ENTBARENH
   TITLEBARSAMPLE    SZHLP_TITLEBARSAMPLE
   BTN_TBMNSYS       SZHLP_TBMNSYS
   BTN_TBMNCLOSE     SZHLP_TBMNCLOSE
   BTN_TBMNHIDE      SZHLP_TBMNHIDE
   BTN_TBMNMIN       SZHLP_TBMNMIN
   BTN_TBMNRES       SZHLP_TBMNRES
   BTN_TBMNMAX       SZHLP_TBMNMAX
   CHK_TBOCNTXTMENU  SZHLP_TBOCNTXTMENU
   RDBTN_SOLID       SZHLP_RDBTN_SOLID
   RDBTN_SHADE       SZHLP_RDBTN_SHADE
   RDBTN_BITMAP      SZHLP_RDBTN_BITMAP
   CHK_TBOOVERRDPPS  SZHLP_TBOOVERRDPPS
   BTN_SWPCOLSHADE   SZHLP_SWPCOLSHADE
   BTN_SHADEDIRECT   SZHLP_SHADEDIRECT
   BTN_COLUP         SZHLP_BTN_COLUP
   BTN_COLDOWN       SZHLP_BTN_COLDOWN
   CHK_SHOWBORDER    SZHLP_SHOWBORDER
   BTN_SWPCOLBRDR    SZHLP_SWPCOLBRDR
   BTN_HILITE        SZHLP_BTN_HILITE
   BTN_SHADOW        SZHLP_BTN_SHADOW
   CHK_STRETCH       SZHLP_CHK_STRETCH
   BTN_BITMAP        SZHLP_BTN_BITMAP
   CHK_TBCENTER      SZHLP_CHK_TBCENTER
   CHK_3DEFFECT      SZHLP_CHK_3DEFFECT
   BTN_FONT          SZHLP_BTN_FONT
   BTN_SWPCOLTXT     SZHLP_SWPCOLTXT
   BTN_FGNDTXT       SZHLP_BTN_FGNDTXT
   BTN_SHADOWTXT     SZHLP_BTN_SHADOWTXT
   // bottoni titlebar hiding
   CHK_HTBARENABLE     SZHLP_HTBARENABLE
   CHK_HTBARSYSMENU    SZHLP_HTBARSYSMENU
   BTN_HTBARMOU        SZHLP_HTBARMOU
   BTN_HTBARKEYB       SZHLP_HTBARKEYB
   BTN_HTBARHIDEBTN    SZHLP_HTBARHIDEBTN
   BTN_HTBARUNHIDEBTN  SZHLP_HTBARUNHIDEBTN
   CHK_HTREDFLDH       SZHLP_HTREDFLDRH
   CHK_HTXCLDLGWIN     SZHLP_XCLDLGWIN
   CHK_HTBARINCLMENU   SZHLP_HTBARINCLMENU
   TXT_HTBARPUPDELAY   SZHLP_HTBARPUPDELAY
   SPIN_HTBARPUPDELAY  SZHLP_HTBARPUPDELAY
   TXT_HTBARHIDEDELAY  SZHLP_HTBARHIDEDELAY
   SPIN_HTBARHIDEDELAY SZHLP_HTBARHIDEDELAY
   // bottoni window rolling
   CHK_RLWINENABLE     SZHLP_RLWINENBL
   CHK_RLWINSYSMENU    SZHLP_RLWINSYSMENU
   BTN_RLWINMOU        SZHLP_MOUSE
   BTN_RLWINKEYB       SZHLP_KEYBOARD
   BTN_RLWINROLLBTN    SZHLP_ROLLTBARBTN
   BTN_RLWINUNROLLBTN  SZHLP_UNROLLTBARBTN
   CHK_XCLHTBARWIN     SZHLP_XCLHTBARWIN
   CHK_AUNRLGETFOCUS   SZHLP_AUNRLGETFOCUS
   CHK_ARLLOSEFOCUS    SZHLP_ARLLOSEFOCUS
   CHK_AUNRLCLOSEWIN   SZHLP_AUNRLCLOSEWIN
   CHK_ALLOWVRSZ       SZHLP_ALLOWVRSZ
   CHK_AUNRLVRSZWIN    SZHLP_AUNRLVRSZWIN
   CHK_RLTOBTOTTOM     SZHLP_RLTOBTOTTOM
   CHK_RLSTATESTORE    SZHLP_RLSTATESTORE
   // dialogo finestre massimizzate
   CHK_MXOVERSZPOS     SZHLP_MXOVERSZPOS
   TXT_MXX             SZHLP_MXX 
   TXT_MXY             SZHLP_MXY
   TXT_MXWIDHT         SZHLP_MXWIDHT
   TXT_MXHEIGHT        SZHLP_MXHEIGHT
   CHK_MXNOMOVE        SZHLP_MXNOMOVE
   CHK_MXNOSIZE        SZHLP_MXNOSIZE
   // dialogo moving/sizing
   CHK_FULLWINDRAG     SZHLP_FULLWINDRAG
   CHK_SMOOTHHMOVE     SZHLP_SMOOTHHMOVE 
   CHK_BKGNDSZMOVE     SZHLP_BKGNDSZMOVE
   BTN_BKGNDSZMOVE     SZHLP_BKGNDSZMVME 
   CHK_FRAMEDRAG       SZHLP_FRAMEDRAG 
   BTN_FRAMEDRAG       SZHLP_FRAMEDRAGME
   CHK_PUSHBOTTOM      SZHLP_PUSHBOTTOM 
   CHK_SZMVZONE        SZHLP_SZMVZONE 
   BTN_PUSHBOTTOM      SZHLP_PUSHBOTTOMME
   // dialogo text controls
   CHK_TCGEFAUTOSEL    SZHLP_TCGEFAUTOSEL
   BTN_TCGEFAUTOSEL    SZHLP_TCGEFAUTOSELBY
   CHK_TCGMOUCPYPST    SZHLP_TCGMOUCPYPST
   CHK_TCGMCPYEF       SZHLP_TCGMCPYEF   
   CHK_TCGMCPYMLE      SZHLP_TCGMCPYMLE  
   CHK_TCGMCPYSTXT     SZHLP_TCGMCPYSTXT 
   CHK_TCGMCPYLBOX     SZHLP_TCGMCPYLBOX 
   CHK_TCGMCPYBTN      SZHLP_TCGMCPYLBTN 
   BTN_TCGCPYBY        SZHLP_TCGCPYBY    
   BTN_TCGCUTBY        SZHLP_TCGCUTBY    
   BTN_TCGPSTINSBY     SZHLP_TCGPSTINSBY 
   BTN_TCGOVRWRTBY     SZHLP_TCGOVRWRTBY 

   // dialogo VIO windows
   CHK_VIONOHSCRL      SZHLP_VIONOHSCRL
   CHK_VIOINS          SZHLP_VIOINS
   CHK_VIOMOUCPY       SZHLP_VIOMOUCLPBRD
   BTN_VIOCPYMOU       SZHLP_VIOMCPY
   BTN_VIOAPNDMOU      SZHLP_VIOMCPYALL
   BTN_VIOPASTEMOU     SZHLP_VIOMPASTE
   CHK_VIOKBDCPY       SZHLP_VIOKBDCLPBRD
   BTN_VIOCPYKBD       SZHLP_VIOCPY
   BTN_VIOAPNDKBD      SZHLP_VIOCPYALL
   BTN_VIOPASTEKBD     SZHLP_VIOPASTE
   // bottoni opzioni mouse (autofocus, poiterhide, button3, move ptr)
   CHK_MAUTFOCUS       SZHLP_CHKMAUTFOCUS
   TXT_MAUTFOCUS       SZHLP_MAFDELAY
   SPIN_MAUTFOCUS      SZHLP_MAFDELAY
   CHK_MAFIGNDESK      SZHLP_MAFIGNDESK
   CHK_MAFNOTOP        SZHLP_MAFNOTOP
   CHK_MAFIGNNEW       SZHLP_MAFIGNNEW
   CHK_MPTRHIDE        SZHLP_CHKMPTRHIDE
   TXT_MPTRHIDE        SZHLP_MPHDELAY
   SPIN_MPTRHIDE       SZHLP_MPHDELAY
   CHK_MPHXCLBTN       SZHLP_MPHXCLBTN
   CHK_MPHXCLMENU      SZHLP_MPHXCLMENU
   CHK_MBTN3MAP        SZHLP_MBTN3MAP
   CHK_MBTN3TBAR       SZHLP_MBTN3TBAR
   CHK_MMOVETOFOCUS    SZHLP_CHKMMOVETOFOCUS
   SPIN_MMTFSTEPS      SZHLP_MMTFSTEPS
   CHK_MMTFWINCREATE   SZHLP_MMTFWINCREATE
   CHK_MMTFWINDLG      SZHLP_MMTFWINDLG
   CHK_MMTFXCLDLGNOBTN SZHLP_MMTFXCLDLGNOBTN
   // dialogo window keys
   COMBO_WKLEFT        SZHLP_WKEYLEFT
   COMBO_WKRIGHT       SZHLP_WKEYRIGHT
   COMBO_WKMENU        SZHLP_WKEYMENU

   // messaggi di errore di inizializzazione
   ID_ERR_LOADMOD      SZERR_LOADMOD
   ID_ERR_REGCTLS      SZERR_REGCTLS
   ID_ERR_LOADDLG      SZERR_LOADDLG
   ID_ERR_OPENPROFILE  SZERR_OPENPROFILE
   ID_ERR_FILLNOTEBOOK SZERR_FILLNOTEBOOK
   // tab notebook preferenze
   ID_PAGEXOFY         SZ_PAGEXOFY      
   ID_SMARTWINDOWS     SZ_SMARTWINDOWS
   ID_PRODINFO         SZ_PRODINFO
   ID_GENERAL          SZ_GENERAL
   ID_EXCEPTIONS       SZ_EXCEPTIONS
   ID_MAINWIN          SZ_MAINWIN
   ID_GENOPTS          SZ_GENOPTS
   ID_TITLEBAR         SZ_TITLEBAR
   ID_TBARACTIVEWIN    SZ_TBARACTIVEWIN
   ID_TBARINACTWIN     SZ_TBARINACTWIN
   ID_TBARHIDING       SZ_TBARHIDING
   ID_WINDOWROLLING    SZ_WINDOWROLLING
   ID_MAXWIN           SZ_MAXWIN
   ID_SIZEMOVE         SZ_SIZEMOVE
   ID_TXTCTLS          SZ_TXTCTLS
   ID_VIOWIN           SZ_VIOWIN
   ID_MOUSE            SZ_MOUSE
   ID_MAPPINGS         SZ_MAPPINGS
   ID_KEYBOARD         SZ_KEYBOARD
   ID_WINDOWSKEYS      SZ_WINDOWSKEYS

   // messaggi errore vari
   ID_ERR_ALLOC        SZERR_ALLOC

   // varie stringhe finestra principale
   ID_SMWDISABLED      SZ_SMWDISABLED
   ID_SMWPREFDSBLD     SZ_SMWPREFDSBLD
   ID_SMARTWINPREF     SZ_SMARTWINPREF


// Main windows ----------------------------------------------------------
   ID_DLGFONT          SZ_DLGFONT
   ID_FONTSAMPLE       SZ_FONTSAMPLE
   ID_TITLEREG         SZ_SMARTWINPREFREG
   ID_EXPIRED          SZ_EXPIRED

// General page ----------------------------------------------------------
   ID_DEFALLING         SZ_DEFALLING
   ID_GENPROGRESS       SZ_GENPROGRESS
   ID_GENTIMEELAPS      SZ_GENTIMEELAPS
   ID_GENSTOP           SZ_GENSTOP

// Titlebar page ---------------------------------------------------------
   ID_TBARACTWINSMPL    SZ_TBARACTWINSMPL
   ID_TBARINACTWINSMPL  SZ_TBARINACTWINSMPL
   ID_TBARFONT          SZ_TBARFONT
   ID_B_KGND            SZ_B_KGND
   ID_TOP               SZ_TOP
   ID_LEFT              SZ_LEFT
   ID_FGNDTXT           SZ_FGNDTXT
   ID_HORZ              SZ_HORZ
   ID_BOTTOM            SZ_BOTTOM
   ID_VERTICAL          SZ_VERTICAL
   ID_RIGHT             SZ_RIGHT
   ID_HORZ3             SZ_HORZ3
   ID_VERTICAL3         SZ_VERTICAL3
   ID_OUTER             SZ_OUTER
   ID_INNER             SZ_INNER
   ID_FONT              SZ_FONT
   ID_ERR_UPDBMPNAME    SZERR_UPDBMPNAME
// dialogo selezione colori:
   ID_CLRTITLE          SZ_CLRTITLE
   ID_CLROK             SZ_CLROK   
   ID_CLRUNDO           SZ_CLRUNDO 
   ID_CLRCANC           SZ_CLRCANC 
   ID_CLRRED            SZ_CLRRED  
   ID_CLRGRN            SZ_CLRGRN  
   ID_CLRBLU            SZ_CLRBLU  

// Titlebar hiding -------------------------------------------------------


// opzioni size/move -----------------------------------------------------
   ID_SZMVSZMVBY        SZ_SZMVSZMVBY
   ID_SZMVDRAGBY        SZ_SZMVDRAGBY
   ID_SZMVPUSHBY        SZ_SZMVPUSHBY

// opzioni controlli testo -----------------------------------------------
   ID_TCGEFAUTOSELBY    SZ_TCGEFAUTOSELBY
   ID_TCGCPYBY          SZ_TCGCPYBY
   ID_TCGCUTBY          SZ_TCGCUTBY
   ID_TCGPSTINSBY       SZ_TCGPSTINSBY
   ID_TCGOVRWRTBY       SZ_TCGOVRWRTBY

// VIO windows -----------------------------------------------------------
   ID_VIOCPYBY          SZ_VIOCPYBY
   ID_VIOCPYALLBY       SZ_VIOCPYALLBY
   ID_VIOPASTEBY        SZ_VIOPASTEBY

// mouse/keyboard actions/event dialog -----------------------------------
   ID_KEYBCTRLDFUNCS    SZ_KEYBCTRLDFUNCS
   ID_MOUCTRLDFUNCS     SZ_MOUCTRLDFUNCS
   ID_MOUBTN            SZ_MOUBTN
// strings to build the text of the "mouse action" buttons
   ID_CMPMOUBTN         SZ_CMPMOUBTN
   ID_DELKEY            SZ_DELKEY
   ID_INSKEY            SZ_INSKEY
   ID_BKSPKEY           SZ_BKSPKEY
   ID_CMPCLICK          SZ_CMPCLICK
   ID_CMPDBLCLK         SZ_CMPDBLCLK
   ID_CMPCTRL           SZ_CMPCTRL
   ID_CMPALT            SZ_CMPALT
   ID_CMPSHIFT          SZ_CMPSHIFT
// stringhe x lista e target azione
   ID_ROLL              SZ_ROLL
   ID_PERFTBAR          SZ_PERFTBAR
   ID_HTBAR             SZ_HTBAR
   ID_VIOCOPY           SZ_VIOCOPY
   ID_PERFVIO           SZ_PERFVIO
   ID_VIOAPND           SZ_VIOAPND
   ID_VIOPASTE          SZ_VIOPASTE
   ID_BKSZMOVE          SZ_BKSZMOVE
   ID_PERFANYWIN        SZ_PERFANYWIN
   ID_EFSELALLTXT       SZ_EFSELALLTXT
   ID_PERFEF            SZ_PERFEF
   ID_TXTCTLSCPY        SZ_TXTCTLSCPY
   ID_PERFTXTCTLS       SZ_PERFTXTCTLS
   ID_TXTCTLSCUT        SZ_TXTCTLSCUT
   ID_TXTCTLSPASTE      SZ_TXTCTLSPASTE
   ID_TXTCTLSOVRWRT     SZ_TXTCTLSOVRWRT
   ID_FRAMEDRAG         SZ_FRAMEDRAG
   ID_PERFWINBRD        SZ_PERFWINBRD
   ID_PUTBEHIND         SZ_PUTBEHIND
   ID_PERFFOCWIN        SZ_PERFFOCWIN
   ID_FLDOPPRPRT        SZ_FLDOPPRPRT  
   ID_FLDOPPAR          SZ_FLDOPPAR
   ID_FLDFIND           SZ_FLDFIND
   ID_FLDSRTNAME        SZ_FLDSRTNAME
   ID_FLDSRTEXT         SZ_FLDSRTEXT
   ID_FLDSRTTYPE        SZ_FLDSRTTYPE
   ID_FLDRSRTRNAME      SZ_FLDRSRTRNAME
   ID_FLDRSRTSIZE       SZ_FLDRSRTSIZE
   ID_FLDSRTWRT         SZ_FLDSRTWRT
   ID_FLDSRTACC         SZ_FLDSRTACC
   ID_FLDSRTCREAT       SZ_FLDSRTCREAT
   ID_FLDARRANGE        SZ_FLDARRANGE
   ID_FLDREFRESH        SZ_FLDREFRESH
   ID_PERFONFLDR        SZ_PERFONFLDR

// dialogo eccezioni
   ID_ADDTOEXCPTLIST    SZ_ADDTOEXCPTLIST
   ID_ADD               SZ_ADD
   ID_EXCFILENOTFOUND   SZQUERY_EXCFILENOTFOUND
   ID_ERR_EXCGETLIST    SZERR_EXCGETLIST
   ID_ERR_EXCUPDATEPRO  SZERR_EXCUPDATEPRO


// bitmap selection dialog -----------------------------------------------
   ID_EDIT              SZ_EDIT
   ID_IMPORT___         SZ_IMPORT___
   ID_DISABLE           SZ_DISABLE
   ID__DEFAULT          SZ__DEFAULT
   ID_CLOSEBTNPOS       SZ_CLOSEBTNPOS
   ID_OK                SZ_OK
   ID_CANCEL            SZ_CANCEL
   ID_HELP              SZ_HELP
   ID_EDIT_             SZ_EDIT_
// dialog titles
   ID_BSDTITLE0         SZ_BSDTITLE0
   ID_BSDTITLE1         SZ_BSDTITLE1
   ID_BSDTITLE2         SZ_BSDTITLE2
   ID_BSDTITLE3         SZ_BSDTITLE3
   ID_BSDTITLE4         SZ_BSDTITLE4
   ID_BSDTITLE5         SZ_BSDTITLE5
   ID_BSDTITLE6         SZ_BSDTITLE6
   ID_BSDTITLE7         SZ_BSDTITLE7
   ID_BSDTITLE8         SZ_BSDTITLE8
   ID_BSDTITLE9         SZ_BSDTITLE9
   ID_BSDTITLE10        SZ_BSDTITLE10
   ID_BSDTITLE11        SZ_BSDTITLE11
// warning/error messages
   ID_ERR_BSDALLOC        SZERR_BSDALLOC
   ID_ASKOVERWRITE        SZ_ASKOVERWRITE
   ID_ASKCONFIRM          SZ_ASKCONFIRM
   ID_ERR_STARTICONEDIT   SZERR_STARTICONEDIT
   ID_ERR_COPYBMP         SZERR_COPYBMP
   ID_ERR_INVALIDPATH     SZERR_INVALIDPATH
// import bitmap dialog
   ID_IMPORTBMP           SZ_IMPORTBMP
   ID_IMPORTOK            SZ_IMPORTOK
// id stringhe emulazione help tramite file inf
   ID_INF_FILE            SZINF_FILE
   ID_INF_LOGO            SZINF_LOGO
   ID_INF_GEN             SZINF_GEN
   ID_INF_EXCPTN          SZINF_EXCPTN 
   ID_INF_DLG             SZINF_DLG    
   ID_INF_TBAR            SZINF_TBAR   
   ID_INF_TBHIDE          SZINF_TBHIDE 
   ID_INF_ROLLING         SZINF_ROLLING
   ID_INF_MAXIMIZ         SZINF_MAXIMIZ
   ID_INF_MOVING          SZINF_MOVING 
   ID_INF_TEXT            SZINF_TEXT   
   ID_INF_VIO             SZINF_VIO    
   ID_INF_MOUSE           SZINF_MOUSE  
   ID_INF_MOUKEY          SZINF_MOUKEY 
   ID_INF_BITMAP          SZINF_BITMAP 
   ID_INF_INSTALL         SZINF_INSTALL
   ID_INF_REGISTER        SZINF_REGISTER
   ID_INF_WINKEY          SZINF_WKEYS

// ID stringhe pagina Window keys
   ID_WKEYNOACT           SZ_WKEYNOACT
   ID_WKEYHIDESHOW        SZ_WKEYHIDESHOW
   ID_WKEYROLLUNROLL      SZ_WKEYROLLUNROLL
   ID_WKEYWINLIST         SZ_WKEYWINLIST
   ID_WKEYCONTEXT         SZ_WKEYCONTEXT
   ID_WKEYWCLOCK          SZ_WKEYWCLOCK
   ID_WKEYDRIVEFLDR       SZ_WKEYDRIVEFLDR
   ID_WKEYSSETUPFLDR      SZ_WKEYSSETUPFLDR
   ID_WKEYOS2CMD          SZ_WKEYOS2CMD
   ID_WKEYWCDESK          SZ_WKEYWCDESK
   ID_WKEYWCWLIST         SZ_WKEYWCWLIST
   ID_WKEYWCPLIST         SZ_WKEYWCPLIST
   ID_WKEYWCTRAYLIST      SZ_WKEYWCTRAYLIST
   ID_WKEYWCNEXTTRAY      SZ_WKEYWCNEXTTRAY
   ID_WKEYWCINFO          SZ_WKEYWCINFO

// ID stringhe usate dal dialogo di installazione
   ID_INST_INSTIN         SZ_INSTINSTIN
   ID_INST_INSTPATH       SZ_INSTPATH
   ID_INST_EXIT           SZ_INSTEXIT
   ID_INST_LICENSE        SZ_INSTLICENSE
   ID_INST_LOGFILE        SZ_INSTLOGFILE
   ID_INST_DRIVE          SZ_INSTDRV
   ID_INST_RFRSHIN        SZ_INSTRFRSHIN
   ID_INST_UNINSTIN       SZ_INSTUNINSTIN
   // msg errore
   ID_INSTERR_NOLIC       SZ_INSTERRNOLIC
   ID_IENERDINST          SZ_IENERDINST
   ID_IENERDRFRSH         SZ_IENERDRFRSH
   ID_IENERDUNINST        SZ_IENERDUNINST
   ID_INSTERCPY           SZ_NULL //SZ_INSTERCPY
   ID_INSTERMKDIR         SZ_NULL //SZ_INSTERMKDIR
   ID_INSTERDEL           SZ_NULL //SZ_INSTERDEL
   // id titolo dialogo progresso inizializzazione lista drive
   ID_IPRDRVINFO          SZ_IPRDRVINFO
   ID_IPRINSTLING         SZ_IPRINSTLING
   ID_IPRRFRSHING         SZ_IPRRFRSHING
   ID_IPRDELETING         SZ_IPRDELETING
   // altri messaggi
   ID_IQRYMKPATH          SZ_IQRYMKPATH
   ID_INSTREPATH          SZ_INSTREPATH
   ID_IERRMKPATH          SZ_IERRMKPATH
   ID_IENDINSTOK          SZ_IENDINSTOK
   ID_IENDRFRSHOK         SZ_IENDRFRSHOK
   ID_IENDUNINSTOK        SZ_IENDUNINSTOK
   ID_IENDINSTSTP         SZ_IENDINSTSTP
   ID_IENDRFRSHSTP        SZ_IENDRFRSHSTP
   ID_IENDUNINSTSTP       SZ_IENDUNINSTSTP
   ID_IENDINSTPRB         SZ_IENDINSTPRB
   ID_IENDRFRSHPRB        SZ_IENDRFRSHPRB
   ID_IENDUNINSTPRB       SZ_IENDUNINSTPRB
   ID_INSTPROCERR         SZ_INSTPROCERR
   ID_INSTCHKPREF         SZ_INSTCHKPREF
   ID_INSTSYSDLLS         SZ_INSTSYSDLLS
   ID_INSTADDINI0         SZ_INSTADDINI0
   ID_INSTADDINI1         SZ_INSTADDINI1
   ID_INSTDELINI1         SZ_INSTDELINI1
   ID_ICHKSMWINI          SZ_ICHKSMWINI
   ID_IMKOBJS             SZ_IMKOBJS
   ID_IMKOBJ              SZ_IMKOBJ
   ID_IDELSYSDLLS         SZ_IDELSYSDLLS
   ID_INSQRYSTRTUP        SZ_INSQRYSTRTUP
   ID_IQRYREMBMPS         SZ_IQRYREMBMPS
   ID_INSDSTROBJ          SZ_INSDSTROBJ
   ID_IQRYREMIPTH         SZ_IQRYREMIPTH
   ID_IQRYREMIPTH1        SZ_IQRYREMIPTH1
   ID_IPRELAPSED          SZ_IPRELAPSED
   ID_ILOGCPY             SZ_ILOGCPY
   ID_ILOGCPYTO           SZ_ILOGCPYTO
   ID_IOVWRTNEW           SZ_IOVWRTNEW
   ID_IOVWRTCONF          SZ_IOVWRTCONF
   ID_ILOGREM             SZ_ILOGREM
   ID_ILOGMKPATH          SZ_ILOGMKPATH

   ID_INSTSYSDLLS2        SZ_INSTSYSDLLS2
   ID_IDELSYSDLLS2        SZ_IDELSYSDLLS2

   // titoli oggetti
   ID_OBJTFOLDER          SZ_OBJTFOLDER
   ID_OBJTPRPRTY          SZ_OBJTPRPRTY
   ID_OBJTPRPRTY1         SZ_OBJTPRPRTY1
   ID_OBJTREADME          SZ_OBJTREADME
   ID_OBJTLICENSE         SZ_OBJTLICENSE
   ID_OBJTRGSTRNT         SZ_OBJTRGSTRNT
   ID_OBJTINST_U          SZ_OBJTINST_U
   ID_OBJTRGSTRPR         SZ_OBJTRGSTRPR
   ID_OBJTDOC             SZ_OBJTDOC
// DIALOGO registrazione
// captions
   ID_REGMLNONE                SZ_REGMLNONE
   ID_REGMLSTLR                SZ_REGMLSTLR
   ID_REGMLALL                 SZ_REGMLALL
   ID_REGCLIENTDATA            SZ_REGCLIENTDATA
   ID_REGCLIENTCODE            SZ_REGCLIENTCODE
   ID_REGREGCODE               SZ_REGREGCODE
   ID_REGINPUTCSTMR            SZ_REGINPUTCSTMR
   ID_REGSENDCODE              SZ_REGSENDCODE
   ID_REGINPUTREGCODE          SZ_REGINPUTREGCODE
   ID_REGEDIT                  SZ_REGEDIT
   ID_REGCPYCLPBRD             SZ_REGCPYCLPBRD
   ID_REGOK                    SZ_REGOK
// file dialog
   ID_REGSAVECSTMRFIL          SZ_REGSAVECSTMRFIL
// errori:
   IDERR_REGFAILALLOC          SZERR_REGFAILALLOC
   IDERR_REGLOADREGFILE        SZERR_REGLOADREGFILE
   IDERR_REGREADCSTMDAT        SZERR_REGREADCSTMDAT
   IDERR_REGFAILOPPRF          SZERR_REGFAILOPPRF
   IDERR_REGSAVECSTMRCD        SZERR_REGSAVECSTMRCD
   IDERR_REGCONVCSTDATA        SZERR_REGCONVCSTDATA
   IDERR_REGREADREGCODE        SZERR_REGREADREGCODE
   IDERR_REGINVKEY             SZERR_REGINVKEY
// help contestuale
   IDHLP_REGMLEREADME          SZHLP_REGMLEREADME   
   IDHLP_REGINNAME             SZHLP_REGINNAME      
   IDHLP_REGINADDRESS          SZHLP_REGINADDRESS   
   IDHLP_REGINCITY             SZHLP_REGINCITY      
   IDHLP_REGINZIP              SZHLP_REGINZIP       
   IDHLP_REGINPROV             SZHLP_REGINPROV      
   IDHLP_REGINNATION           SZHLP_REGINNATION    
   IDHLP_REGINEMAIL            SZHLP_REGINEMAIL     
   IDHLP_REGINPIVA             SZHLP_REGINPIVA      
   IDHLP_REGBTNEDIT            SZHLP_REGBTNEDIT
   IDHLP_REGMLECSTMRCODE       SZHLP_REGMLECSTMRCODE
   IDHLP_REGMLEREGCODE         SZHLP_REGMLEREGCODE  
   IDHLP_REGREGREG             SZHLP_REGREGREG      
   IDHLP_REGSBAR               SZHLP_REGSBAR        
   // messaggi
   IDMSG_REGCANCNEWREG         SZMSG_REGCANCNEWREG  
   IDMSG_REGREGOK              SZMSG_REGREGOK       
   IDMSG_REGREGCODEPRES        SZMSG_REGREGCODEPRES
//  le altre stringhe possono essere pi— lunghe di 256 caratteri
   // stringhe usate da smartwin.dll
   ISSMN_SYSMNTBHIDE           SZ_SYSMNTBHIDE
   ISSMN_SYSMNRLUNRL           SZ_SYSMNRLUNRL
   ISSMN_SYSMNALT              SZ_SYSMNALT
   ISSMN_SYSMNCTL              SZ_SYSMNCTL
   ISSMN_SYSMNSHFT             SZ_SYSMNSHFT
   ISSMN_SYSMNINS              SZ_SYSMNINS
   ISSMN_SYSMNBKSPC            SZ_SYSMNBKSPC
   ISSMN_SYSMNDEL              SZ_SYSMNDEL
   ISSMN_SYSMNF1               SZ_SYSMNF1
   ISSMN_SYSMNF2               SZ_SYSMNF2
   ISSMN_SYSMNF3               SZ_SYSMNF3
   ISSMN_SYSMNF4               SZ_SYSMNF4
   ISSMN_SYSMNF5               SZ_SYSMNF5
   ISSMN_SYSMNF6               SZ_SYSMNF6
   ISSMN_SYSMNF7               SZ_SYSMNF7
   ISSMN_SYSMNF8               SZ_SYSMNF8
   ISSMN_SYSMNF9               SZ_SYSMNF9
   ISSMN_SYSMNF10              SZ_SYSMNF10
   ISSMN_SYSMNF11              SZ_SYSMNF11
   ISSMN_SYSMNF12              SZ_SYSMNF12

END
